@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --color-blue-900: hsl(209, 23%, 22%); // Dark Mode Elements
  --color-blue-950: hsl(207, 26%, 17%); // Dark Mode Background

  --color-gray-950: hsl(200, 15%, 8%); // Light Mode Text
  --color-gray-400: hsl(0, 0%, 50%); // Light Mode Input
  --color-gray-50: hsl(0, 0%, 99%); // Light Mode Background

  --color-white: hsl(0, 100%, 100%); // Dark Mode Text & Light Mode Elements

  --text-homepage-items: 14px;
  --text-detail-page: 16px;

  --font-nunito: "Nunito Sans", sans-serif;
}
